* {
  font-weight: bold;
}
body {
  font-family: sans-serif;
  border: 3px solid gray;
  line-height: 1.5;
}
button {
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
}
button:hover {
  color: black;
  text-transform: uppercase;
  background-color: white;
}

article a,
article a:visited {
  color: black;
}
article a:hover,
article a:active {
  text-decoration-line: none;
}
.header-text {
  font-size: 15px;
  background-color: gray;
  text-align: center;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 10, 0.5);
}

.details-list {
  list-style: square;
}
