* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
.container{
  width: 600px;
  border: 3px solid black;
  line-height: 1.5;
  margin: 40px auto;
}
button {
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
  width:100%;
}
button:hover {
  color: black;
  text-transform: uppercase;
  background-color: white;
}

article a,
article a:visited {
  color: black;
}
article a:hover,
article a:active {
  text-decoration-line: none;
}
.header{
  height: 50px;
  background-color: rgb(222, 222, 222);
}
.header-text {
  font-size: 20px;
  text-align: center;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 10, 0.5);
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  padding-left: 15px;
}
.details-list li{
  margin-bottom: 6px;
}

.details-list li:last-child{
  margin-bottom: 0px;
}
.more-information{
  display: block;
  margin-bottom: 10px;
}