*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bold;
}
p{
  margin-bottom: 10px;
}
.product{
  position: relative;
  width: 900px;
  margin: 50px auto ;
  border: 2px solid black;
}
h3{
  margin-bottom: 10px;
}
.sale{
  position: absolute;
  background-color: red;
  width: 70px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  top: -30px;
  left: -40px;
}

.header{
  height: 70px;
  background-color: gray;
  /* padding: 3px 0px; */
}

.header-text{
  text-align: center;
  line-height: 70px;
}
.button{
  width:100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.product-img{
  width: 300px ;
  height: auto;
  float: left;
}
.color-content {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  margin-bottom: 10px;
}
.info-1, .info-2 {
  width: 290px; 
  padding: 20px; 
  float: left;
}
.product::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}
button:hover {
  color: black;
  text-transform: uppercase;
  background-color: white;
}

article a,
article a:visited {
  color: black;
}
article a:hover,
article a:active {
  text-decoration-line: none;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 10, 0.5);
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  padding-left: 15px;
}
.details-list li {
  margin-bottom: 6px;
}
.details-list li:last-child {
  margin-bottom: 0px;
}
.more-information {
  display: block;
  margin-bottom: 15px;
}

/* .info-2{
  width: 200px;
} */
.color-contents{
  display: flex;
}
.color-content{
  margin-left: 30px;
}
.color-content:first-child{
  margin-left: 0px;
  /* margin-right: 10px; */
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.product::after {
  content: "";
  display: block;
  clear: both;
}
