* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
.container{
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.main-header {
  background-color: #6c6c6c;
  padding: 20px 40px;
  margin-bottom: 25px;
  height: 80px;
}
.post-header {
  margin-bottom: 25px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 25px 0;
  width: 400px;
}
article{
  margin-bottom: 60px;
}
nav a{
  font-size: 18px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}
nav a:last-child{
  margin-right: 0px;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  color: blue;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 30px;
  margin-bottom: 25px;
}
h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
h4 {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 5px;
}
ul,
ol {
  margin-left: 25px;
  margin-bottom: 20px;
}
button{
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  /* top: 0;
  left: 0; */
}
li {
  font-size: 13px;
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 0px;
}

footer p {
  font-size: 11px;
}

#author {
  font-style: italic;
}

#copyright {
  font-size: 13px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 12px;
  font-weight: bold;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  color: red;
}
li:nth-child(even) {
  color: #1098ad;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  background-color: black;
}
.post-img{
  width: 100%;
  height: auto;
}
